
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';



.capitalize{
    text-transform: capitalize;
}
.nav-link{
    all:inherit
}

.active{
    font-weight: bold;
    border-bottom: 1px solid yellow;
}

.container{min-height: 90vh;

    padding-top: 3rem;


}


.on-hover:hover{
    background: #ddd
}
// .on-hover>*{
//     cursor: pointer;
// }

.link-unset{
    all: unset;
    cursor: pointer;
}

.flex-book{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 3rem;
    width: 100%;
    .flex-half{
        width: 50%;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    .half-text{
        width: max-content;
        white-space:nowrap;
    
    text-align: center;
    }
}

main{
    width: 100%;
}
.available-students{
    max-height: 300px;
    border: 1px solid #333;
}

//
//
//
//
.slider{
     border: 1px solid black;
}
//
//

